.clock{
    overflow: hidden;
    text-align: center;
    margin-bottom: -20px;
    margin-left: 10px;
    margin-top: 10px;
}

.clock h1{
    border: 5px solid burlywood;
    width: 300px;
    
    
    border-radius: 15px;
    padding: 10px 0;
    background-color: cornsilk;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
}

.topTitles {
    display: inline-block;
    margin-top: -77px;
    margin-left: -40px;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    width: 300px;
    padding: 3px;
    color: beige;
    background-color: chocolate;
}
