.auth{
    position: relative;
    width: 35%;
    height: 755px;
    border-radius: 50px;
    box-sizing: border-box;
    background: #29303c;
    box-shadow: 0xp 0px 32px 0px #49535e, -14px -14px 20px #191c21;
    margin: 4.4em auto;
}

.container{
    text-align: left;
    margin-top: 10px;
    margin: 0 1em 1em 1em;
}

.brand-logo {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    margin-right: 250px;

}
.brand-logo img{
    width: 200px;
}

.container h1{
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 17px;
    padding: 0.2em 1rem;
    margin-right: 10px;
}

.container label{
    margin-bottom: 8px;
    font-size: 27px;
    color: white;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.container input{
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.btn-submit{
    margin-top: 20px;
    background: #778e9c;
    height: 60px;
    border-radius: 20px;
    width: 30%;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transform: 0.5s;
    margin-left: 230px;
}

.field span{
    position: absolute;
    font-size: 18px;
    bottom: 0px;
    right: 8px;
    text-decoration: none;
    color: black;
    background: rgb(235, 157, 142);
    border-radius: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}