footer {
    background: powderblue;
    padding: 1em;
    text-align: center;
    color: green;
    font-size: 20px;
    font-size: x-large;
    padding: 10px;
    margin-top: 112px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: -16px;
}