footer {
    background: #29303c;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-size: x-large;
    padding: 8px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 45px;
}